* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
}
html {
	scroll-behavior: smooth;
}

.container {
	background-color: antiquewhite;
	overflow: hidden;
}

.salute {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	overflow: hidden;
	/* padding: 0 1rem; */
}

.saluteTextContainer {
	/* width: 100%; */
	width: 50vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	font-size: 4.5vw;
	cursor: default;
	text-align: center;
	background: rgb(249, 234, 215);
	background-image: radial-gradient(
		circle,
		rgba(249, 234, 215, 1) 26%,
		rgba(167, 140, 109, 1) 87%
	);
}

.saluteIconText {
	font-size: 1.8vw;
}

.GreetMsg {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 80%;
}
.GreetMsg :last-child {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

.stars {
	width: 10%;
}

.sikhImageIcon {
	width: 50%;
	z-index: 100;
	margin: 0 auto;
}

.saluteText {
	font-size: 6vw;
}

.saluteImageContainer {
	width: 100%;
	height: 100%;
	width: 50vw;
}

.saluteImage {
	width: 100%;
	height: 100%;
	background-size: cover;
}

.nameContainer {
	height: 100vh;
	background-color: rgb(145, 110, 180);
	display: flex;
	justify-content: center;
	align-items: center;
}

.name {
	font-size: 10vw;
	/* color: #333; */
	cursor: default;
	text-align: center;
}

.jobTitleContainer {
	width: 100%;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	padding: 0 2rem;
	overflow: hidden;
	background: rgb(249, 234, 215);

	background-image: radial-gradient(
			circle,
			rgba(249, 234, 215, 0.7) 26%,
			rgba(166, 140, 109, 0.8) 87%
		),
		url('./img/bg2.png');
}

.jobTitle {
	font-size: 6vw;
	color: #000000;
	text-align: center;
}

.projects {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10vh;
	/* padding: 0 100px; */
	width: 100%;
	background: rgb(249, 234, 215);
	background: radial-gradient(
			circle,
			rgba(249, 234, 215, 0.7) 26%,
			rgba(167, 140, 109, 0.8) 87%
		),
		url('./img/bg1.png');
	position: relative;
}

.projectsTitle {
	font-size: 6vw;
	text-align: center;
	color: rgba(0, 0, 0, 0.75);
	background: transparent;
	text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.05);
}

.project {
	display: flex;
	/* align-items: center; */
	/* justify-content: center; */
	/* gap: 70px; */
	/* height: 70vh; */
	overflow: hidden;
	width: 100%;
}
.project1 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50vw;
	background-size: cover;
	/* flex: 1; */
}
.proj1Img {
	/* background-size: auto; */
	width: 80%;
	height: 80%;
	border-radius: 10px;
}
.project1Detail {
	width: 50vw;
	background-color: transparent;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem;
}

.projectTitle {
	margin: 1rem auto;
	font-size: 3vw;
}

.projectDesc {
	padding: 1rem;
	font-size: 1.5vw;
}

.projectButton {
	font-size: 1.4vw;
	padding: 1rem 2rem;
	border-radius: 10px;
	margin: 2rem;
	cursor: pointer;
	border: none;
	position: relative;
	overflow: hidden;
}

.projectButton::after {
	content: 'View Project';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: -100%;
	transition: 1s all;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #3f2b54;
	color: antiquewhite;
}

.projectButton:hover.projectButton::after {
	transform: translateX(100%);
}

.modal {
	display: none;
	position: absolute; /*Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100vw; /* Full width */
	height: 100vh; /* Full height */
	/* overflow: auto; Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
	/* display: flex; */
	justify-content: center;
	align-items: center;
}

.modal2 {
	display: none;
	position: absolute; /*Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	bottom: 0;
	width: 100vw; /* Full width */
	height: 100vh; /* Full height */
	/* overflow: auto; Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
	/* display: flex; */
	justify-content: center;
	align-items: center;
}

.proj1ModalOuterContainer {
	width: 100%;
	height: 100%;

	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	align-items: center;
	/* margin: auto; */
	/* position: relative; */
	/* text-align: center;*/
}

.proj1ModalInnerContainer {
	width: 85vw;
	height: 80vh;
	display: flex;
	flex-direction: column;
	background-color: rgb(221, 130, 130);
	border-radius: 20px;
	overflow: auto;
}
.modalHeader {
	width: 100%;
	display: flex;
	justify-content: end;
	/* padding: 10px; */
	align-items: center;
	padding: 10px;
	margin-bottom: 1rem;
}

.modalContent {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
	height: 100%;
}
.modalProjectImg {
	flex: 2;
	padding: 1rem;
}
.modalProjectDesc {
	flex: 3;
	padding: 1rem;
	overflow: auto; /* Enable scroll if needed */
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.modalDescTitle {
	text-align: center;
	margin-bottom: 1rem;
}

.modalDescPara {
	padding: 1rem;
	overflow: auto; /* Enable scroll if needed */
	height: 100%;
}

.contact {
	background: rgb(249, 234, 215);
	background: radial-gradient(
		circle,
		rgba(249, 234, 215, 1) 26%,
		rgba(167, 140, 109, 1) 87%
	);
	width: 100vw;
	height: 20vh;
}

.contactDetails {
	font-size: 1vw;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
}

.credits {
	font-size: 1vw;
	width: 100vw;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: black;
}
.credits > a {
	color: antiquewhite;
	text-decoration: none;
}

@media screen and (max-width: 1024px) {
	.salute {
		display: flex;
		flex-direction: column;
	}

	.saluteIconText {
		font-size: 5rem;
	}
	.saluteTextContainer {
		padding: 1rem;
		width: 100vw;
		background: rgb(249, 234, 215);
		background-image: radial-gradient(
				circle,
				rgba(249, 234, 215, 0.9) 26%,
				rgba(167, 140, 109, 0.7) 87%
			),
			url('./img/house-isolated-field.jpeg');
		background-repeat: no-repeat;
		background-position: center;
	}

	.saluteText {
		font-size: 7rem;
	}

	.saluteImageContainer {
		display: none;
	}

	.jobTitleContainer {
		height: 60vh;
	}

	.proj1Img {
		width: 90%;
	}
	.project1Detail {
		padding: 1rem;
	}
	.projectDesc {
		font-size: 1.3rem;
	}
}

@media screen and (max-width: 768px) {
	.GreetMsg :last-child {
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
	}

	.saluteText {
		font-size: 5rem;
	}

	.sikhImageIcon {
		width: 80%;
	}
	.project1 {
		box-sizing: border-box;
		/* background-color: red; */
		width: 100%;
	}
	.proj1Img {
		width: 95%;
		height: 90%;
	}
	.project1Detail {
		padding: 1rem;
	}
	.projectDesc {
		padding: 0%;
		font-size: 1rem;
		text-align: center;
	}
	.projectButton {
		font-size: 1rem;
	}

	.contactDetails {
		font-size: 0.6rem;
	}
	.credits {
		font-size: 0.9rem;
		text-align: center;
	}

	.saluteTextContainer {
		transform: none !important;
	}
	.jobTitle {
		transform: none !important;
	}
	.sikhImageIcon {
		transform: none !important;
	}
	.saluteText {
		transform: none !important;
	}
}

@media screen and (max-width: 600px) {
	.project {
		display: flex;
		flex-direction: column;
		height: 80vh;
		font-size: 6rem;
		/* width: 100vh; */
	}

	.projects {
		padding: 1rem;
	}

	.projectsTitle {
		font-size: 2rem;
	}
	.projectTitle {
		font-size: 1.5rem;
	}
	.project1Detail {
		width: 100%;
		height: 70%;
	}

	.projectButton {
		font-size: 1rem;
	}

	.project2 {
		display: flex;
		flex-direction: column-reverse;
	}

	.contactDetails {
		font-size: 0.7rem;
		text-align: center;
		display: flex;
	}

	.credits {
		font-size: 0.7rem;
		text-align: center;
		display: flex;
		flex-direction: column;
	}
	.saluteTextContainer {
		transform: none !important;
	}
	.jobTitle {
		transform: none !important;
	}
	.sikhImageIcon {
		transform: none !important;
	}
	.saluteText {
		transform: none !important;
	}
}

@media screen and (max-width: 450px) {
	.saluteIconText {
		font-size: 5rem;
	}
	.sikhImageIcon {
		width: 80%;
	}
	.saluteTextContainer {
		transform: none !important;
	}
	.jobTitle {
		transform: none !important;
	}
	.sikhImageIcon {
		transform: none !important;
	}
	.saluteText {
		transform: none !important;
	}
	.saluteImageContainer {
		transform: none !important;
	}
}
